# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store
**/.DS_Store

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
venv/
env/